/*SECTIONS HEADERS*/
.section_header {background-repeat: no-repeat; font-size: 0;  height: 0; padding-bottom: 17.6%; width: 100%; background-size: contain; background-position: center;}
.section_header.games_database_header {background-image: url(/images/resources/wwe-games-database.jpg); background-size: cover; padding-bottom: 11.2%;}
@media only screen and (max-width: 554px)
{
.section_header.games_database_header {padding-bottom: 22%;}
}

/* SDH TABS */
.sdh_tabs ul.nav-tabs { box-sizing: border-box; display: block; left: 0; line-height: 1em; width:100%; padding: 0; margin: 0 0 7px; background: #333333; z-index: 1; zoom: 1; /* Fix for IE height issue */; padding-left: 12px; list-style: none; list-style-image: none; border: 0;}
.sdh_tabs>ul.nav-tabs>li {float: left; margin: 0px 2px 0 0 !important; padding: 0; list-style: none; list-style-image: none;	background: none;}
.sdh_tabs>ul.nav-tabs>li a, .sdh_tabs>ul.nav-tabs>li a:link, .sdh_tabs>ul.nav-tabs>li a:visited  {color: #DDDDDD; outline: 0; text-decoration: none; display: block; width: auto; font-size: 14px; padding: 9px 12px; font-weight: bold; white-space: nowrap; border-bottom: none; text-decoration: none !important; border: 0; margin: 0; margin-top: 5px; line-height: 12px;}
.sdh_tabs > .nav > li > a:hover, .sdh_tabs > ul.nav-tabs > li > a:hover, .sdh_tabs > ul.nav-tabs > li > a:focus, .sdh_tabs > ul.nav-tabs > li.active > a:focus, .sdh_tabs.top > ul.nav-tabs > li > a:focus, .sdh_tabs.color_inactive_handles>ul.nav>li>a:hover {color: #FFFFFF; background: none; box-shadow: none;}
.sdh_tabs ul.nav-tabs>li.active>a, .sdh_tabs ul.nav-tabs>li.active>a:hover, .sdh_tabs.top > ul.nav-tabs > li.active > a:focus  {color: #333333; background-color: #ffffff; box-shadow: none;}
.sdh_tabs > .tab-content > .tab-pane, .sdh_tabs.outline_content>.tab-content>.tab-pane {padding: 0; overflow: hidden;}
.sdh_tabs.color_inactive_handles>ul.nav>li>a {background: none;}
.sdh_tabs.outline_handles ul.nav-tabs>li a, .sdh_tabs.outline_handles ul.nav-tabs>li a:hover, .sdh_tabs.outline_content>.tab-content {border: none;}

@media only screen and ( max-width: 1024px ) {.sdh_tabs > ul.nav-tabs > li a, .sdh_tabs > ul.nav-tabs > li a:link, .sdh_tabs > ul.nav-tabs > li a:visited  { padding: 9px 9px; font-size: 13px;}}
@media only screen and ( max-width: 767px ) {.sdh_tabs > ul.nav-tabs > li a, .sdh_tabs > ul.nav-tabs > li a:link, .sdh_tabs > ul.nav-tabs > li a:visited { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 13px; margin-top:3px; margin-bottom:3px; padding:5px;}}

/* SORTABLE (ACHIEVEMENTS & TROPHIES) */
.sortable {border: 1px solid #CCCCCC;}
.sortable thead {background:#444444; color: #FFFFFF;}
.sortable th h3 {font-size: 15px; text-align: left; font-weight:bold; padding:0; margin:0; padding-left:10px; cursor:pointer;}
.sortable th.head h3 {background:url(sortable/sort.gif) 0 center no-repeat;}
.sortable th.desc h3 {background:url(sortable/desc.gif) 0 center no-repeat;}
.sortable th.asc h3 {background:url(sortable/asc.gif) 0 center no-repeat;}
.sortable td {border-top: 1px solid #CCCCCC; padding: 6px; vertical-align: middle;}
.sortable .evenrow td {background:#f4f4f4;}
.sortable .oddrow td {}
.sortable td.evenselected {background:#f4f4f4;}
.sortable td.oddselected {}
.sortable #right {text-align: right; padding-right: 15px; white-space: nowrap;}
.achievements .trophy-image {font-size: 0; text-indent: -9999px; line-height: 0;}
.achievements .trophy-image img {display: block;}
.achievements .title {font-size: 15px; font-weight: bold;}
.achievements .description {font-size: 14px;}
.achievements .trophy {font-size: 0; text-indent: -9999px; line-height: 0; width: 100%; height: 0; padding-bottom: 100%; background-position: center top; background-size: contain; background-repeat: no-repeat;}
.achievements .trophy1 {background-image: url(/images/resources/trophies/bronze.png);}
.achievements .trophy2 {background-image: url(/images/resources/trophies/silver.png);}
.achievements .trophy3 {background-image: url(/images/resources/trophies/gold.png);}
.achievements .trophy4 {background-image: url(/images/resources/trophies/platinum.png);}
div.achievement, .achievements .achievement {font-weight: bold; margin:auto; color:#FFFFFF; width: 100%; height:0; padding-bottom: 100%; font-size:16px; text-align:center; background:#81b73a; background: linear-gradient(to bottom, #81b73a 0, #1ca000 100%); line-height: 32px;}
div.achievement span, .achievements .achievement span {display:block; color:#FFFFFF; width:14px; height:14px; font-size:11px; text-transform:uppercase; line-height:13px; margin: -5px auto 0; background-color:#303531; border-radius:50%;}
.unlockables td {padding: 3px;}

@media only screen and (max-width: 554px) {
  .sortable th h3 {font-size: 13px; padding-left: 8px;}
  .achievements .title {font-size: 14px;}
  .achievements .description {font-size: 13px;}
}

/* ROSTER SECTIONS */
div.roster_section{text-align: center; font-size: 0;}
div.roster_section div.roster {display:inline-block; padding:2.5px; padding-bottom: 7.5px; height:94px; width:94px;}
div.roster_section div.roster img {width: 100%;}
div.roster_section div.roster .roster_name {display:table-cell; vertical-align:middle; line-height:9.5px; font-size:9px; padding: 0 2px; font-weight:bold; text-transform:uppercase; text-align:center; position:relative; width:inherit; height:21px; background-color: #222222; bottom:21px; border-collapse:collapse; color:#EEEEEE; }
div.roster_section div.roster:hover, div.roster_section div.roster:active, div.roster_section div.roster:focus {transform: scale(1.04); transition-property: transform; transition-duration: 0.1s;}
div.roster_section div.roster_immortals {height:128px;}
div.roster_section div.roster2k18 {padding: 7px; padding-bottom: 10px; /*height: 100px; width: 100px;*/}
div.roster_section div.roster2k15 {height:115px;}
div.roster_section div.roster2k15 .roster_name {bottom: 0px;}
.roster_section div.roster .roster_label {position: absolute; font-size: 8.5px; background: #c00000; font-weight: bold; top: 37px; color: white; transform: rotate(270deg); text-transform: uppercase; padding: 0px 5px; left: -22px;}

@media only screen and (max-width: 554px)
{div.roster_section{margin: 0 -10px !important;}
div.roster_section div.roster { height:70px; width:70px; padding: 2.5px; padding-bottom: 7.5px;}
div.roster_section div.roster .roster_name {font-size:8px; line-height:8.5px; height:19px; bottom:19px;}
div.roster_section div.roster2k15, div.roster_section div.roster_immortals {height:91px;}
div.roster_section div.roster2k15 .roster_name {bottom:0px;}
.roster_section div.roster .roster_label {padding: 0px 4px; left: -27px; top: 32px;}
}


/*TAGS COLORS*/
.label-raw, .label-new {background-color: #d9534f;}
.label-smackdown {background-color: #337ab7;}
.label-nxt {background-color: #f0ad4e;}
.label-ecw {background-color: #A9A9A9;}
.label-superstar {background-color: #333333;}
.label-women {background-color: #BA55D3;}
.label-legend {background-color: #DAA520;}
.label-dlc {background-color: #5cb85c;}
.label-manager{background-color: #ff0000;}
.label-throwback {background-color: #7b6699;}
.label-legacy {background-color: #000080;}
.label-support {background-color: #DC143C;}
.label-enhancement {background-color:#DC143C;}
.label-bronze {background-color: #7e3929;}
.label-silver {background-color: #888888;}
.label-gold {background-color: #C4941D;}
.label-extra {background-color:	#708090;}
.label-purple {background-color: #662288;}
.label-attitude {background-color: #c00000;}
.label-preorder {background-color: #ff8c00;}
.label-nxtedition, a.label-nxtedition:hover, a.label-nxtedition:focus {background-color: #222222; color: #ffff00;}

/* CONTACTS */
.contact-description, .youtuber_description {clear:both; margin:0; display: block; width: 100%;}
.contact-description .item-image {width: 16%;}
.contact-description img, .youtuber_description img {display: block; float: left; padding-bottom: 4px; padding-right: 10px;}
.contact-description p, .youtuber_description p {margin:0px;}
@media only screen and (max-width: 767px) {.contact-description .item-image {width:17%;}}
.contact-items {word-spacing: -4px;}
.contact-items h2 {word-spacing: 0;}
.contact-channel {display: inline-block; vertical-align: top; clear: none; width: 50%; margin: 0; padding: 10px 0; box-sizing: border-box;}
@media only screen and (max-width: 767px) { .contact-channel {width: 100%;} }
ul.custom_fields {margin:0; padding:0; list-style-type: none;}
ul.custom_fields li {float:left; background:none; padding-left:0px; padding-right:5px;}
#infoTwitter, #infoXbox, #infoPSN, #infoSteam, #infoYoutube, #infoForum {border-radius: 3px; box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.06) inset, 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 3px rgba(0, 0, 0, 0.3); color: #fff; font-size: 11px; height: 18px; line-height: 18px; margin: 4px auto 0; outline: medium none; overflow: hidden; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); width: 149px}
#infoTwitter span, #infoTwitter a, #infoXbox span, #infoXbox a, #infoPSN span, #infoPSN a, #infoSteam span, #infoSteam a, #infoYoutube span, #infoYoutube a, #infoForum span, #infoForum a {color: #fff; float: left; margin-left: 42px; text-align: left; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3)}
#infoTwitter {background: rgba(0, 0, 0, 0) url("/images/resources/profile_info/twitter.png") no-repeat scroll 0 0}
#infoXbox {background: rgba(0, 0, 0, 0) url("/images/resources/profile_info/xbox.png") no-repeat scroll 0 0}
#infoPSN {background: rgba(0, 0, 0, 0) url("/images/resources/profile_info/psn.png") no-repeat scroll 0 0}
#infoSteam {background: rgba(0, 0, 0, 0) url("/images/resources/profile_info/steam.png") no-repeat scroll 0 0}
#infoYoutube {background: rgba(0, 0, 0, 0) url("/images/resources/profile_info/youtube.png") no-repeat scroll 0 0}
#infoForum {background: rgba(0, 0, 0, 0) url("/images/resources/profile_info/forum.png") no-repeat scroll 0 0}

.youtubers_icons {height:25px; margin-right:15px; padding:1px; float:right; background:url('/images/resources/toppartnersbackg.jpg')}
.youtubers_icons .top_partners {width:192px; height:22px; margin:1px 2px;}
@media only screen and (max-width: 554px) {div.youtubers_icons {margin-right:7px; clear:both; display:block;} div.youtubers_icons .top_partners {display:none;}}

.youtubers_icons_images {width: 100%;}
.youtubers_icons_images > div {width:10%; float: left; vertical-align:top; margin-bottom:5px; overflow:hidden; box-sizing: border-box; padding: 0 1px;}
.youtubers_icons_images > div > img {width:100%; height:auto; display:block;}

/*SUBCATEGORIES LIST*/
.categories-list .category-items .collapse {padding-left: 15px;}
.categories-list .category-items  .collapse h2 {font-size: 1.15em}

/* GRID LAYOUT (GUIDES + VIDEOS + CONTACT ARTICLES + MORE ARTICLES)*/
.grid .items-row:first-child {border-top: none;}
.grid .category-items {width: 100%; margin:auto; font-size: 0; text-align:center;}
.grid.align-left .category-items {text-align:left;}
.grid .category-items > div {width:33.33%; display:inline-block; vertical-align:top; overflow:hidden; padding: 0 5px; box-sizing:border-box; margin-bottom:20px; background: none; border-bottom: none;}
.grid.cols-2 .category-items > div {width:50%;}
.grid.cols-4 .category-items > div {width:25%; padding: 0 2px; margin-bottom:10px;}
.grid.categories-list.events-home .category-items > div {width: 33.33%; padding: 0 5px; margin-bottom:20px;}
.grid .category-items .pull-left {float: none; width: 100%; padding-bottom: 0;}
.grid .category-items h2.contentheading {margin-top:5px; font-size:13px; font-weight:bold; display:block; overflow:hidden; text-align:left;}
.grid.videos .category-items h2.contentheading  {max-height: 69px;}
.grid .category-items h2.contentheading a {text-decoration: none;}
.grid .category-items h2.contentheading a:hover {color: #FE0000; }
.grid .category-items h3.contentheading {margin-top:4px; font-size:14px; font-weight:normal; display:block; overflow:hidden; text-align:center;}
.grid .category-items .category-desc {font-size: 13px;}
.grid .category-items .category-desc p {margin: 5px 0 0 0;}
.grid .category-items .article-info {font-size: 11px; display: block; text-align: left; margin-top: 2px;}
.grid .category-items .article-info .icon-calendar {display: none;}
.grid .category-items .article-info dd.published {background: none;}
.grid .category-items .article-info dd.category-name, .grid .category-items .article-info dd.createdby, .grid .category-items .article-info dd.parent-category-name, .grid .category-items .tags.inline {display: none;}
.grid.videos .category-items .article-info .createdby a {color: inherit;}
.grid .category-items .icons {display: none;}
.contact-articles .published {}
@media only screen and (max-width: 1024px) {.grid .category-items h2.contentheading, .grid .category-items .category-desc {font-size:11px;} .grid.videos .category-items h2.contentheading  {max-height: 58px;} .grid .category-items .article-info dd.published {font-size:10px}}
@media only screen and (max-width: 767px){.grid.cols-4 .category-items > div {width:33.33%;}}
@media only screen and (max-width: 554px) { .grid .category-items > div, .grid.cols-4 .category-items > div, .grid.categories-list.events-home .category-items > div {width:50%; margin-bottom:10px;} .grid .category-items h3.contentheading {font-size:12px !important;} }

/* GAME INFO */
.game_info .info_title {font-weight: bold; font-size: 18px; margin: 0px 0px 5px 0px; text-transform:uppercase;}
.game_info .info_title a {color: #333333;}
.game_info .info_image {float: left; width:120px; padding-right:10px;}
.game_info .info_text {font-size:13px; text-align: justify; }
.game_info .info_readmore {font-weight:bold; text-transform: uppercase; }

/* HOME SPOTLIGHT */
div#spotlight {text-align:center; margin:auto; font-size:0;}
div#spotlight-container {width:25%; font-size:0; display:inline-block; padding: 0 3px; vertical-align:top; overflow:hidden; box-sizing: border-box}
div#spotlight-image {position:relative; width:100%; margin:auto; overflow:hidden; height:0; padding-bottom:56.25%;}
div#spotlight-image img {position:absolute; width:100%; height:100% !important; display:block; padding: 2px; border: solid 1px #ccc; box-sizing: border-box; margin: auto; object-fit:cover}
div#spotlight-image:hover img{opacity: 0.85;}
div#spotlight h3 {margin-bottom: 0 !important; font-size:12px;}
div#spotlight-info { position:absolute; left:3px; right:3px; bottom: 3px; padding: 3px; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.8); text-align:center; border-collapse:collapse; box-sizing: border-box;}
div#spotlight-title {position:relative; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px; line-height:1.5; color:#EEEEEE; text-decoration:none; display:block;}
div#spotlight-title a {color:#EEEEEE; text-decoration:none; display:block;}
.mobile_spotlight {display: none;}
@media only screen and (max-width: 1024px) {div#spotlight h3 {font-size: 10px; font-size: 1.175vw;} div#spotlight-title {font-size: 10px; font-size: 1.155vw;}}
@media only screen and (max-width: 767px) {div#spotlight-container {width:50%; margin-bottom:5px;} div#spotlight h3 {font-size: 11px; background-size:cover;} div#spotlight-title {font-size: 10px; font-size: 2vw;}}

@media only screen and (max-width: 450px)
{div#spotlight-container {display:none;}
.spotlight_mobile {display: inline-block !important;}
.mobile_spotlight {display: block;}
}


/*CUSTOM FIELDS DISPLAY*/
.game_overview h1.contentheading {float: left;}
dl.fields-container {overflow:hidden; width: 100%; padding: 0; }
dd.field-entry {float: left; width: 100%; margin: 0; padding: 7px 0; box-sizing: border-box; vertical-align: top; border-bottom: 1px solid #DDDDDD;}
dd.field-entry .field-label {display: block; float: left; width: 30%; font-weight: bold; padding-right: 5px; box-sizing: border-box; text-align: left;}
dd.field-entry.grid .category-items > div {margin-bottom: 10px;}
dd.field-entry .field-value {display: block; overflow: hidden;}
.field-entry.weight .field-value:after {content: " lbs";  cursor: text;}
.field-entry.appearances .field-value:after {content: " Games (Main Series)"; cursor: text;}
.items-row dl.fields-container {margin-bottom: 0; margin-top: 6px;}
.ja-megafilter-wrap dd.field-entry .field-label, .items-row dd.field-entry .field-label {width: 50%;}

@media only screen and (max-width: 554px) {
dl.fields-container {font-size: 13px;}
dd.field-entry .field-label {width: 40%;}
dd.field-entry.grid .field-label {float: none; width: 100%; margin-bottom: 10px;}
.items-row dd.field-entry .field-label {display: none;}
.items-row dd.field-entry {padding: 0; width: 100%;}
}

/*CUSTOM FIELDS LABELS*/ 

.field-entry.platforms .field-value, .field-entry.brands .field-value {font-size: 0; line-height: 0;}
.platforms .field-value span, .brands .field-value span, .labels .field-value span {display: inline-block; padding: 2px 4px; margin: 2px; font-size: 11px; font-weight: bold; line-height: 14px; background-color: #999999; color: #ffffff; vertical-align: baseline; white-space: nowrap; text-shadow: 0 -1px 0 rgba(0,0,0,0.25);  border-radius: 3px; text-transform: uppercase;}
.platforms .field-value .pc {background-color: #2b2d31;}
.platforms .field-value .ps4 {background-color: #0054a5;}
.platforms .field-value .xboxone {background-color: #008000;}
.platforms .field-value .switch {background-color: #e60012;}
.platforms .field-value .android {background-color: #96c04b;}
.platforms .field-value .ios {background-color: #9e9d9d;}
.platforms .field-value .ps3 {background-color: #001c3e;}
.platforms .field-value .xbox360 {background-color: #008000;}
.platforms .field-value .ps2 {background-color: #01469d;}
.platforms .field-value .psp {background-color: #2b2d31;}
.platforms .field-value .wii {background-color: #0a8194;}
.platforms .field-value [class="3ds"] {background-color: #9e9d9d;}
.platforms .field-value .ds {background-color: #9e9d9d;}
.platforms .field-value .xbox {background-color: #008000;}
.platforms .field-value .ps1 {background-color: #01469d;}
.platforms .field-value .gamecube {background-color: #4e4376;}
.platforms .field-value .nintendo64 {background-color: #4e4376;}
.brands .field-value .raw, .brands .field-value .Raw {background-color: #d9534f;}
.brands .field-value .smackdown, .brands .field-value .SmackDown {background-color: #337ab7;}
.brands .field-value .nxt, .brands .field-value .NXT, .label-nxt, .brands .field-value .nxt-uk {background-color: #f0ad4e;}
.brands .field-value .ecw, .brands .field-value .ECW {background-color: #A9A9A9;}
.labels .field-value .acrobat {background-color: #337ab7;}
.labels .field-value .striker {background-color: #333333;}
.labels .field-value .showboat {background-color: #DAA520;}
.labels .field-value .technician {background-color: #5cb85c;}
.labels .field-value .powerhouse {background-color: #ff0000;}
.labels .field-value .trickster {background-color: #662288;}

/*CUSTOM FIELDS - METASCORE*/ 
.metascore {display: inline-block; text-align: center; vertical-align: middle; font-weight: bold; color: #FFFFFF; border-radius: 50%; width: 22px; height: 22px; line-height: 22px; font-size: 13px; background-color: #999999;}
.metascore.positive {background-color: green;}
.metascore.mixed {background-color: #fc3;}
.metascore.negative {background-color: red;}

/*GAME APPEARANCES */
.games_appearances {border-bottom:1px solid #CCC; padding:8px 0px; font-size: 15px;}
.games_appearances img {display: block;}
.games_appearances .roster_thumb {float:left; margin-right:8px; width:12.5%; height: 0; padding-bottom: 12.5%; overflow:hidden;}
.games_appearances .roster_thumb img {width: 100%;}
.games_appearances .game_image {float:right; margin-left:8px; width:17.5%;}
.games_appearances .game_name {display:block; font-size:18px; font-weight:bold;}
.games_appearances .release_date {display: block; color: #666666;}
.games_appearances .character_name {display: block;}

/*ROSTER PROFILES*/
div.rosterbanner {margin:auto; width:590px; max-width: 100%; position: relative;}
div.rosterbanner img {max-width: none !important;}
div.rosterbio {font-size: 13px; width:220px; position: absolute; top: 10px; right: 10px; padding:10px; color:#DDD; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.8);}
h3.roster_bar {display: block; padding: 3px 10px; color:#FFF; background: #b22222 linear-gradient(to right, #b22222 0%, #ffffff 100%) repeat scroll 0 0;}


@media only screen and ( max-width: 767px) {
div.rosterbio {width:100%; padding:0; position: relative; top: 0; right: 0; color: inherit; font-size: inherit; background: none;} 
table div.rosterbio {margin: 255px 0 0 0;}
}

/*SPOTLIGHT PROFILES OF THE DAY*/
#spotlight_profiles {float: left; width: 100%; border-bottom:1px solid #CCC; padding: 2.5px; box-sizing: border-box; background-color: #FFF}
#spotlight_profiles .thumb {float:left; margin-right:8px; width:48px; height:48px; position:relative;}
#spotlight_profiles .thumb img {max-height: 48px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
#spotlight_profiles .name {display:block; font-size:16px; font-weight:bold; text-transform: uppercase; white-space: nowrap; overflow:hidden; text-align:left; text-overflow:ellipsis;}
#spotlight_profiles .name a {color: #333;}
#spotlight_profiles .game {display:block; font-size:13px; font-weight:bold; white-space: nowrap; overflow:hidden; text-align:left; text-overflow:ellipsis;}

/*GAMES DATABASE - MEGAFILTER*/ 
.games-database .product-item .product-item-name {font-size: 16px;}
.games-database dd.field-entry.platforms {padding: 0;}
.games-database .platforms, .games-database .metascore-line {margin-top: 6px;}

@media only screen and (max-width: 1024px) {
.games-database .products-grid .product-item .product-item-name {font-size: 14px;}
.games-database .products-grid .article-info {margin-top: 0}
.games-database .products-grid .release-date {font-weight: normal;}
.games-database .products-grid .metascore-line {margin-top: 3px;}
.games-database .products-grid .platforms {line-height: 10px; margin-top: 3px;}
.games-database .products-grid .platforms .field-value span {font-size: 10px; line-height: 10px; margin: 1px;}
}

@media only screen and (max-width: 554px) {
.games-database .icon-calendar {display: none;}
.games-database .metascore-line {display: none;}
.games-database .platforms {line-height: 10px; margin-top: 3px;}
.games-database .platforms .field-value span {font-size: 10px; line-height: 10px; margin: 1px;}
}

/* COOKIE CHOICE */
#cookieChoiceInfo { font-size:12px !important; color:#CCCCCC !important; background-color:#222222 !important; padding:10px !important; position:fixed !important; width:100% !important; margin:0 !important; left:0 !important; top:auto !important; bottom:0 !important; z-index:1000 !important; text-align:center !important}
#cookieChoiceInfo a { color: #ea0000}
#cookieChoiceInfo a:hover {  
text-decoration:underline;}
#cookieChoiceDismiss {background-color: #990000 !important; color: #FFF !important;  text-decoration: none !important; font-weight: bold !important; font-size: 12px !important;  padding: 3px 10px !important; border-radius: 3px !important;}
#cookieChoiceDismiss:hover { background-color: #C00000 !important}
#cookieChoiceDismiss a:hover {text-decoration:none !important; }
/* Padding for buttons set */
.article-edit-button {margin-left: 5px;}
div.sh404sef-social-buttons { padding-top: 0.5em; }
div.sh404sef-social-buttons span { display: inline-block; vertical-align: top; margin-bottom: 0.3em; }

/* parent elements needs to have overflow visible */
.items-row.cols-2, .items-leading {overflow:visible !important;}
#contentarea {overflow:visible !important;}

/* Facebook flyout cut-off fix */
.fb-like span{overflow:visible !important; } 
.fb-send span{overflow:visible !important;}
.fb-like iframe {height: 20px !important; } 

/* Facebook comments */
#fb-comments .fb_iframe_widget, #fb-comments .fb_iframe_widget iframe, #fb-comments .fb_iframe_widget span {width: 100% !important;}

/*BACK TO TOP*/
.cd-top { display: inline-block; height: 50px; width: 50px; position: fixed; bottom: 20px; right: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); overflow: hidden; text-indent: 100%; white-space: nowrap; background: #c00000 url(../images/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0; -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s; transition: opacity .3s 0s, visibility 0s .3s; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {-webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s; transition: opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible {visibility: visible; opacity: 1;}
.cd-top.cd-fade-out {opacity: .5;}
.cd-top:hover {background-color: #c00000; opacity: 1;}
@media only screen and (max-width: 767px) {.cd-top {height: 40px; width: 40px; bottom: 10px; right: 10px;} }

/* IGALLERY OVERRIDES */
div.main_images_wrapper {max-width:100% !important;}
div.main_image_slideshow_wrapper {margin-bottom: 10px;}
div.main_thumbs_arrow_wrapper {float:left; max-width:100%;}
.main_thumb_container {max-width:100% !important;}
.main_thumb_table {text-align:center}
.main_thumb_table .active_thumb, .main_thumb_table .inactive_thumb {vertical-align:top;}
.main_thumb_table td img {vertical-align: bottom;}
.main_thumb_table span.main_thumb_text {text-align: center; padding: 0 5px 10px; font-size: 13px; display: block;}
.main_thumb_table span.main_thumb_text p {text-align: center; margin: 0;}
.main_des_container p, .lbox_des_container p {margin: 0;}
div.main_img_numbering, div.lbox_img_numbering {width: auto; height: auto; padding: 4px;}
div.category_description {margin: 0 0 10px 0;}
.cat_child_img_a {display: block; line-height: 0;}
.cat_child_a:hover {text-decoration: none;}
h3.cat_child_h3 {margin: 0 !important;}
h3.cat_child_h3:hover {text-decoration: underline;}
.cat_child_des, .menu_text_block {color: #333333;font-size: 12px;}
/* old site div style override (unused) */ /* .main_thumb_table div.active_thumb, .main_thumb_table div.inactive_thumb {display:inline-block; min-width:93px;} .main_thumb_table p.thumbs_div {padding:2%;} .main_thumb_table p.thumbs_div img {max-width:100%;} #igallery_row_clear {clear: both; display:block;} */

/*SUPERSTARS DATABASE - MEGAFILTER*/
.superstars-database {}
.superstars-database a {display: block; text-decoration:none;}
.superstars-database div.roster {display: block; width: 100%; position: relative;}
.superstars-database .product-item .product-item-info {padding: 0; border: 0;}
.superstars-database .products-grid .product-item .product-item-info:hover {box-shadow: none;}
.superstars-database .ja-products-wrapper.list .list .product-item .product-item-info .product-item-photo {width: 10%;}
.superstars-database .product-item .product-item-photo {margin: 0; overflow:hidden; background: linear-gradient(transparent 12%, #000 12%, gray 100%); }
.superstars-database div.roster img {display: block; width: 100%; border: 0;}
.superstars-database div.roster img:hover, .superstars_database div.roster img:active, .superstars_database div.roster img:focus {transform: scale(1.06); transition-property: transform; transition-duration: 0.1s;}
.superstars-database .products-grid  div.roster h3.roster_name {padding: 5px; margin: 0; font-weight:bold; text-transform:uppercase; position:absolute; bottom:0; width:100%; background-color: rgba(0,0,0,0.7); color:#EEEEEE; font-size: 11px; line-height: 1; text-align:center;}
.superstars-database .products-grid  .article-info {display: none;}

@media only screen and (max-width: 554px) {
.superstars-database .products-list .product-item .product-item-info .product-item-photo {width: 20%;}
.superstars-database .first-game {display: none;}
.superstars-database .appeared-in {display: none;}
}

/*EVENTS DATABASE - MEGAFILTER*/ 
.events-database .product-item .product-item-name {font-size: 15px;}
.events-database dl.fields-container {margin: 0;}
.events-database .product-item dd.field-entry {padding: 5px; border: none;}
.events-database .product-item dd.field-entry:nth-of-type(odd) {background-color: #f0f0f0;}
.events-database .products-grid .product-item dd.field-entry {padding: 2px 0; background: none; border: none;}
.events-database .products-grid .product-item dd.field-entry .field-label {display: none;}
.events-database .brands ul.inline {margin: 0;}
.events-database .brands ul.inline > li {padding-left: 2px; padding-right: 2px;}
.events-database .brands.no-brand-split, .events-database .filter-content [class~="attr.ct22.value"] {display: none;}
.brands .field-value span.raw-exclusive, .brands .field-value span.smackdown-exclusive, .brands .field-value span.ecw-exclusive {display: none;}

@media only screen and (max-width: 1024px) {
.events-database .product-item .product-item-name {font-size: 14px;}
.events-database .article-info {margin-top: 0}
.events-database dd.field-entry .field-label {display: none;}
.events-database .products-grid .brands .field-value span {font-size: 10px; line-height: 10px; margin: 1px;}
}

@media only screen and (max-width: 554px) {
.events-database .icon-calendar {display: none;}
.events-database .product-item dd.field-entry {padding: 2px 0; background: none; border: none;}
.events-database .event-date .start-date {display: none;}
.events-database .brands .field-value span {font-size: 10px; line-height: 10px; margin: 1px;}
}

/*ARENAS*/
.arenas-grid div img {border: 2px solid #CCC; border-radius: 8px;}
.arenas {width:100%; text-align:center; margin:auto; font-size:0; box-sizing: border-box;}
.arenas div {width:25%; min-width:140px; display:inline-block; margin-bottom:7px; padding:2px; box-sizing: border-box; vertical-align:top; font-size:12px; text-align: center;}
.arenas div img {max-width:100%; display: block;}
.arenas div span {display:block; margin-top:3px;}
.title-belts div img {border: 1px solid #EEE;}

/*IMMORTALS ROSTER*/
div.immortals_profile h3 {display:block; margin-top:0; padding:5px;}
div.immortals_stats {overflow: hidden;}
h3.immortals_bronze {color:#FFF; background: #7e3929 linear-gradient(to right, #7e3929 0%, #ffffff 100%) repeat scroll 0 0;}
h3.immortals_silver {color:#FFF; background: #888888 linear-gradient(to right, #888888 0%, #ffffff 100%) repeat scroll 0 0;}
h3.immortals_gold {color:#FFF; background: #C4941D linear-gradient(to right, #C4941D 0%, #ffffff 100%) repeat scroll 0 0;}
img.immortals_card {width:190px; height:auto; float:right; padding:2px; margin-left:10px; background-color:#FFF; border:1px solid #CCC;}
@media only screen and (max-width: 450px) {img.immortals_card {float:none; width: auto; display:block; margin:auto; margin-bottom:10px;} }

/* SUPERCARD CATALOG HOME */
.supercard-catalog {margin:auto; max-width:100%; width:100%;}
.supercard-catalog > div {width:50%; display:inline-block; clear: none; vertical-align:top; overflow:hidden; margin-bottom:10px; padding: 0 4px 0 4px; box-sizing: border-box;}
.supercard-catalog h3 {display: block; text-align:left; margin-top:7px;}
.supercard-catalog img {display: block;}
.supercard-catalog img:hover, .supercard-catalog img:active, .supercard-catalog img:focus {opacity: 0.85;}

/* SUPERCARD CATALOG HEADER */
.supercard-catalog ul { list-style: none outside none; margin:0; padding: 0; font-size:0;}
.supercard-catalog li {display: inline-block; background:none; width:10%; padding:2px; box-sizing:border-box;}
@media only screen and (max-width: 767px) {.supercard-catalog li {width:20%;}}

/* SUPERCARD CATALOG IGALLERY */
.main_images_wrapper.profile40 img.ig_thumb:hover, .main_images_wrapper.profile41 img.ig_thumb:hover, .main_images_wrapper.profile40 img.ig_thumb:focus, .main_images_wrapper.profile41 img.ig_thumb:focus, .main_images_wrapper.profile40 img.ig_thumb:active, .main_images_wrapper.profile41 img.ig_thumb:active {transform: scale(1.1); transition-property: transform; transition-duration: 0.3s;}
@media only screen and (max-width: 767px) {.profile40 .main_thumb_table .active_thumb, .profile40 .main_thumb_table .inactive_thumb {width:25% !important; display: inline-block;} }

/* SUPERCARD CATALOG STATISTICS */
.supercard-table {width: 100%;} 
.supercard-table th h3 {font-size: 13px;}
.supercard-table td {padding: 3px; text-align:center;}
.supercard-table td#name, .supercard-table td#total {font-weight: bold;}
.supercard-table td#name, .supercard-table td#gender {text-align:left;}
.supercard-table td#arrow img {display: block; margin: auto; width: 25px;}
.supercard-table .card {position: relative; height: 30px;}
.supercard-table.summerslam-17 thead {background: #b74805;}
.supercard-table.summerslam-17 .card img {position: absolute; display: block; width: 100%; height: 100% !important; object-position: -20px 30%; margin: auto; object-fit: none; box-sizing: border-box;}
.supercard-table.beast .card img {position: absolute; display: block; width: 100%; height: 100% !important; object-position: -20px 35%; margin: auto; object-fit: none; box-sizing: border-box;}
.supercard-table.beast thead {background: #333c4a;}

@media only screen and (max-width: 767px) {
.sortable .head h3 {padding-left: 8px;}
.supercard-table th {padding: 5px 5px}
.supercard-table th h3 {font-size: 12px;}
.supercard-table {font-size: 12px;}
.supercard-table td#arrow img {width: 20px;}
.supercard-table #image, .supercard-table #gender {display: none;}
}

/*ROSTER PREDICTIONS*/
.roster-predictions {border-collapse:collapse; width: 100%; margin-top: 10px;}
.roster-predictions thead {background:#444444; color: #FFFFFF;}
.roster-predictions th h3 {text-align: left; font-weight:bold; font-size: 1.2em; padding:0; margin:0;}
.roster-predictions .head h3 {font-weight:bold; background:url(sortable/sort.gif) 0 center no-repeat; cursor:pointer; padding-left:10px;}
.roster-predictions .desc h3 {font-weight:bold; background:url(sortable/desc.gif) 0 center no-repeat; cursor:pointer; padding-left:10px;}
.roster-predictions .asc h3 {font-weight:bold; background:url(sortable/asc.gif) 0 center no-repeat; cursor:pointer; padding-left:10px;}
.roster-predictions td {padding-bottom: 5px;}
.roster-predictions .name {width: 35%; padding-right: 10px; box-sizing: border-box; font-weight: bold; }
.roster-predictions .prediction {width: 65%;}
.roster-predictions .roster-predictions-bar {overflow: hidden; height: 18px; background-color: #dd514c; background-image: -moz-linear-gradient(top,#ee5f5b,#c43c35); background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#c43c35)); background-image: -webkit-linear-gradient(top,#ee5f5b,#c43c35); background-image: -o-linear-gradient(top,#ee5f5b,#c43c35); background-image: linear-gradient(to bottom,#ee5f5b,#c43c35); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0); -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.roster-predictions .progress-bar {width: 0%; height: 100%; color: #fff; float: left; font-size: 12px; text-align: center; text-shadow: 0 -1px 0 rgba(0,0,0,0.25); background-color: #5eb95e; background-image: -moz-linear-gradient(top,#62c462,#57a957); background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#57a957)); background-image: -webkit-linear-gradient(top,#62c462,#57a957); background-image: -o-linear-gradient(top,#62c462,#57a957); background-image: linear-gradient(to bottom,#62c462,#57a957); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0); -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15); -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15); box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: width .6s ease; -moz-transition: width .6s ease; -o-transition: width .6s ease; transition: width .6s ease; white-space: nowrap;}
@media only screen and (max-width: 554px) { .roster-predictions .name {font-size: 11px;}
/*.roster-predictions .name, .roster-predictions .prediction {display: block; width: 100%;}*/ }

/*WRESTLING EVENTS RESULTS*/
.grid.events-home .category-items h2.contentheading {text-align:center;}
div.event-results {text-align:center;}
div.event-results ul {margin:0; padding:0; list-style:none;}
div.event-results ul li {margin: 0 0 25px; padding: 0; border: 0; list-style: none; text-align:center;}
div.event-results ul li h3 {color: #c00000; display: block; text-transform: uppercase; margin:0;}
div.event-results h2 {border-top: 3px solid #c00000; padding: 10px 0 10px 0px; text-align: left;}

